
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav__link {
    font-weight: bold;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Cutive Mono', monospace;
    font-size: 19px;
  }
  
  ul, li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #829dad;
  }
  
  a:hover {
    color: #3c6360;
  }
  
  .container {
    width: 1002px;
    margin: 0 auto;
  }
  h1, h2{
    color: #69414A;
    text-align: center;
    z-index: 15;
    font-size: 2rem;
    font-size: 37px;
  }
  
.photo_name{
  margin: 9px;
}
  

@media (max-width: 960px) {
    .container {
      width: 100%;
      padding: 0 4%;
    }
  }
  
  .transition {
    transition: all 1s;
  }
  
  .nav {
    
    
    width: 100%;
    
    z-index: 99;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: flex-end;
    height: 57px;
  }
  
  .nav__link {
    color: #4f1a26;
    margin-right: 30px;
    
}


.nav__menu > .nav__link{
  font-weight: bold;
}
  
  
  .nav__link:hover {
    color:rgb(219, 206, 209);
  }
  
  .nav__mobile {
    display: none;
  }
  
  
  @media (max-width: 420px) {
    .nav {
      background-color: #fff;
    }
  
    .nav__link {
      display: none;
    }
  
    .nav__mobile {
      display: block;
    }
  }  
.banner-img{
  min-height: 661px;
  max-width: 100%;
  background: url(../img/safaribanner.jpg);
  background-size: cover;
  background-position: 1347px -52px;
  width: 100%;
  background-position: bottom;
}
.banner-imgTop{
 width: 100%;
 object-fit: cover;
 height: 581px;
 background-size: cover;
 margin-top: 68px;
    text-align: center;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__subtitle {
  color: rgba(255, 255, 255, .7);
  font-size: 32px;
  margin-top: 72px;
  font-weight: 400;
  line-height: 50px;
  padding: 108px 78px;
  }
  
  @media (max-width: 850px) {
    .banner__subtitle {
      font-size: 18px;
      padding: 0px 46px;
    }  
    .estatistica-section {
      display: none;
  }
    #arrowTop{
      display: none;
    }    
  }
  @media (max-width: 420px) {
    .banner__subtitle {
      font-size: 18px;      
      color: rgba(255, 255, 255, .7);
      font-size: 32px;
      margin-top: 236px;
      font-weight: 400;
      padding: 5px 0px;     
    }
  }
  .estatistica-section{
    padding: 21px;
    background: #b2adaf;
  }
.estatistica{
  background: #b2adaf;
  }

.estatistica_img{
  margin: 18px auto;
  display: flex;
}

.steps {
  position: relative;
}
.steps:before {
  top: 157px;
  bottom: 71px;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #69414A;
  left: 50%;
  margin-left: -1px;
}
.timeline-title{
    
   color: #69414A;
   text-align: center;
   z-index: 15;
   font-size: 2rem;
   padding-bottom: 21px;

   
}
.timeline {
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  padding: 0px;
  list-style-type: none;
}
.timeline .timeline-box {
  position: relative;
  float: left;
  clear: left;
  width: 45%;
  margin: 1em 2.5%;
  list-style-type: none;
  display: block;
  padding: 25px;
  background: #f8f8f8;
  z-index: 15;
}

.timeline .timeline-box .timeline-title {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 1em;
  float: left;
  padding-left: 25px;
  padding-top: 8px;
}
.timeline .timeline-box .timeline-details {
  clear: both;
  padding-top: 5px;
}
.timeline .timeline-box span {
  position: absolute;
  top: -15px;
  right: 24px;
  font-size: 8em;
  font-weight: 700;
  color: #d81241;
  opacity: 0.4;
  z-index: -1;
}
@media all and (max-width: 600px) {
  .timeline .timeline-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.timeline .timeline-box:hover:after {
  background: #9C616F;
}
@media all and (min-width: 650px) {
  .timeline .timeline-box:after {
    display: block;
    content: ' ';
    height: 9px;
    width: 9px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -6.55%;
    top: 1.5em;
    border: 2px solid #b89198;
  }
}
.timeline .timeline-box:first-child {
  margin-bottom: 2.5em;
}
.timeline .timeline-box:nth-of-type(1n):before {
  position: absolute;
  top: 15px;
  right: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #f8f8f8;
  border-right: 0 solid #f8f8f8;
  border-bottom: 10px solid transparent;
  content: " ";
}
.timeline .timeline-box:nth-of-type(2n) {
  float: right;
  clear: right;
}
.timeline .timeline-box:nth-of-type(2n):before {
  right: auto;
  left: -10px;
  position: absolute;
  top: 15px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #f8f8f8;
  border-left: 0 solid #f8f8f8;
  border-bottom: 10px solid transparent;
  content: " ";
}
@media all and (min-width: 600px) {
  .timeline .timeline-box:nth-of-type(2n) {
    margin-top: 3em;
  }
}
.timeline .timeline-box:nth-child(2n):after {
  left: -6.5%;
  right: auto;
}

.timeline-box:hover, .timeline-box:focus {
  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
}

.timeline-box:hover, .timeline-box:focus {
  -webkit-box-shadow: 0px 3px 0px 0px #ff4769;
  -moz-box-shadow: 0px 3px 0px 0px #ff4769;
  box-shadow: 0px 3px 0px 0px #9C616F;
}

.timeline-box {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.steps-area {
  padding: 51px 0px;
  background-color: #b2adaf47;
 }

.importante-saber {
  text-align: center;
  padding: 80px;
  width: 100%;
  flex-direction: column;
  background-color: #eae8e9bf;
}

.importante-saber h2 {
  font-family: "Flamenco", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 34px;
  margin-bottom: 54px;
}

.importante-saber__passo-a-passo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.importante-saber__passo-a-passo_passos {
  width: 25%;
  max-width: 28ch;      
}

.importante-saber__passo-a-passo_passos p{
  margin-bottom: 0;
  padding: 16px; 
  justify-content: space-between;
  font-size: 19px;
  color: #757474;
}

.importante-saber__passo-a-passo_passos img{
  width: 120px;
  height: 80px;
}

.importante-saber__passo-a-passo_passos-negrito {
  font-weight: bold;
  color: #E84B70;
  font-size: 23px;    
}

.importante-saber__passo-a-passo_passos-seta {
margin: 0 30px;
}
.importante-saber__passo-a-passo_passos-seta img {
  width: 40px;
  height: 20px;
}

@media (max-width: 450px) {
  .importante-saber__passo-a-passo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .importante-saber {
    display: flex;
    padding: 50px;
    width: 100%;
    flex-direction: column;
    background-color: #ebe9e9ad;     
  }
  .importante-saber__passo-a-passo_passos {
    width: 100%;
    max-width: 15ch;  
  }

}
.contato {
  text-align: center;
  padding-top: 20px;  
  background-color: #ebe9e98c; 
  padding-bottom: 80px;  
}

.contato h2 {
  font-size: 34px;
    font-family: "Flamenco", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 26px;
}
.contato__formulario {
  width: 86%;
  max-width: 400px;
  margin: auto;
  font-size: 19px;
  align-items: center;
}

.contato__formulario_linha {
  margin-top: 5px;
}
.contato__formulario_linha input {
  width: 100%;
}
.contato__formulario_linha--dividida div {
  width: 50%;
} 
.contato__formulario_dados-nome {
  margin-right: 18px;
}
.contato__formulario_assunto {
  margin-top: 10px;
}
.contato__formulario input{
  background-color: #f5e86e88;
  border: 1px solid #f5e86eec;
  margin-top: 3px;
  border-radius: 2px;
}
.contato__formulario label {
  width: 100%;
  text-align: left;
  display: inline-block;
}
.contato__formulario_assunto label {
  font-size: 16px;
}
.contato__formulario_assunto input{
  padding: 1px 106px;
}
.contato__formulario_mensagem {
  margin-top: 10px;
}
.contato__formulario_mensagem label {
  margin-right: 330px;  
}
.contato__formulario textarea{
  width: 100%;
  max-width: 400px;
  background-color: #f5e86e88;
  border: 1px solid #f5e86efa;
  margin-top: 8px;
  border-radius: 2px;
  resize: none;
}
.contato__formulario_submit {
  margin-top: 20px;
  width: 100%;
  max-width: 405px;
  text-align: center;
  height: 35px;
  font-size: 18px;
  color: #ffffff;
  background-color: #9a6c77;
  border: 1px solid#ad989d;
  text-transform: uppercase;
  font-weight: bold;
}
.contato__formulario_submit:hover {
  opacity: 1;
  background-color: #ad989d;
}
.error{
  color: red;
}
#input-assunto {
  width: 100%;
  max-width: 400px;
  padding: 0;
}
.sobre-mim_titulo{
  text-align: center;
  margin-bottom: 37px;
}
.sobre-mim{
  width: 100%;
  padding: 52px 0;
  background-color: #e6e1e196;
}
.sobre-mim_box{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}

body{
  background: rgba(218,218,218,1)
}

a{
  color: #111
}

.photo{  
  position: relative;
  display: block;
}

.photo img{
  width: 200px;
  height: 280px;
  object-fit: cover;
  filter: grayscale(95%) contrast(114%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top:-4px;
  margin: 0 auto;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
 
}
@media (max-width: 760px) {
.photo .glow-wrap:hover{
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
  
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  transform: translateY(15px)
}

.col1{
  /* position: absolute; */
  z-index: 1;
  /* transform: translate(-25%, -65%); */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1.2;
}


/* Ends */

#author{
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
}

#author:hover{
  color: #111;
}


.col2 {
  width: 100%;
  max-width:500px;
}    
.pic1{
  width: 100%;
  max-width: 400px;
  height: 243px;
  float: left;
  margin: 0 30px;
  border-radius: 13px;
}  
@media (max-width: 450px) {

  .sobre-mim_box{
    flex-direction: column;
  }
  .pic1 {
    width: 100%;
    max-width: 219px;
    height: 243px;
    float: left;
    margin: 0 30px;
    border-radius: 13px;
    }
  .col2 {
    width: 299px;    
    margin-top: 20px; 
    }
  } 
.footer {    
  background: #b2adaf;
  text-align: center;
  padding: 11px;
  color: #211f20;
}  
.footer__socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.footer__twitter,
.footer__facebook,
.footer__youtube {
  opacity: 0.5;
  margin: 0 10px;
}
.footer__twitter:hover,
.footer__facebook:hover,
.footer__youtube:hover {
  opacity: 1;
}
.d-flex {
  display: flex;
}


.wrapper{
  width: 50%;
  margin: 0 auto;
}

.article{
  position: relative;
  margin: auto;
  overflow: auto;
  text-align: justify;
}

.article__title{
  color: #462755;
}

#arrowTop {    
  color: #462755;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
}

#arrowTop::before {
content: '▲';
}

#arrowTop:hover {
  color: #7F479B;
  transition: 0.3s;
}